<div class="bg-img"></div>
<div class='content-raffle'>
  <div class="heading-container text-center p-3"  style="background-color: rgba(0,0,0, 0.65);">
    <h1>Raffles</h1>
  </div>
  <div class="" style="color:white">
    <div class="raffle-cards">
      <% @raffles.each do |raffle| %>
      <% unless raffle.name == "" %>
        <%= link_to raffle_path(raffle) do%>
          <div class="raffle-card">
            <div class="raffle-info">
              <% if raffle.token.photo.key  %>
                <img style="max-height: 200px" src= <%= cl_image_path raffle.token.photo.key %>>
              <% end  %>
              <h3 style="margin-left:15px;margin-top:15px"><%=raffle.name%></h3>
              <p style="margin-left:15px;font-weight:100;">by <%= raffle.creator.title %></p>
              <% unless raffle.tag1 == "" %>
                <div class="tags d-flex"  style="margin:15px;">
                <div class="tag"><%= raffle.tag1 %></div>
                <div class="tag"><%= raffle.tag2 %></div>
                <div class="tag"><%= raffle.tag3 %></div>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
