<div class="bg-img"></div>
  <div class="raffle-show">
    <div class="heading-container text-center p-3"  style="background-color: rgba(0,0,0, 0.65);">
        <h1><%= @raffle.name %></h1>
    </div>
    <div class="d-flex raffle-conatiner">
      <div class="md:w-1/3 raffle-img">
        <% if @raffle.token.photo.key  %>
          <img style="border-radius: 18px;" src= <%= cl_image_path @raffle.token.photo.key %>>
        <% end  %>
          <!--<div class="redeem-ticket">
            <%= simple_form_for [@raffle, @redeem] do |f| %>
            <div class='d-flex' style='justify-content: space-between;'>
            <%= f.input :tk_amount, label: 'How many tickets?' %>
              <%= f.button :submit, 'Redeem Raffle Tickets', class: 'btn btn-ghost' %>
            </div>
            <% end %>
          </div>-->
      </div>
      <div class="md:w-2/3 raffle-information">
        <p>Created at: <%= @raffle.created_at %></p>
        <div class="raffle-tab">
          <main>
            <input checked id="tab1" type="radio" name="tabs">
            <label for="tab1">Raffle details</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">Donate</label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">Transactions</label>

            <section id="content1">
              <p>About: <%= @raffle.about %></p><br>
              <p>Raffle created by: <%= link_to @raffle.creator.title, creator_path(@raffle.creator)%></p>
              <p><%= @raffle.creator.pale_blue.nickname %>: <%= link_to @raffle.creator.pale_blue.tk_address, token_path(@raffle.creator.pale_blue)%></p>
            </section>

            <section id="content2">

            <%= simple_form_for [@raffle, @donation] do |f| %>
                  <%= f.input :tk_amount, html: { class: "token-amount"} %>
                  <%= f.association :token,
                            collection: @user_tokens,
                            label_method: :nickname %>
                  <div class='d-flex' style='justify-content: space-between;'>
                    <%= f.button :submit, 'Donate', class: 'btn btn-ghost' %>
                  </div>
              <% end %>
            </section>

            <section id="content3">
              <p>Raffle item: <%= @raffle.token.nickname %></p>
              <p>Item address: <%= link_to @raffle.token.tk_address, token_path(@raffle.token)%></p>
            </section>
          </main></div><hr>

          <div class="share-raffle" style="text-align:right">
            <h3><strong>Share campaign</strong></h3>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <p style="font-weight:100;">Share this unique link with your network to further your impact.</p>
          </div>
       </div>
      </div>
    </div>
  </div>
  </div>
