<div class="mt-5" style="text-align:center;color:white">
<h2><strong>Token Nickname: </strong><%= @token.nickname %></h2>
<h4><strong>Token Address: </strong><%= @token.tk_address %></h4>
<%  if @token.unlimited %>
  <h4><strong>Maximum supply:</strong> unlimited</h4>
<% else %>
  <h4><strong>Maximum supply:</strong> <%= @token.max_mint %></h4>
<% end %>

<h4><strong>Token(s) minted so far: </strong><%= @token.minted_so_far %></h4>

<%  if @token.unlimited == false && @token.max_mint == @token.minted_so_far %>
  <p>-- Limit Reached --</p>
  <p>-- No more of this token can be generated --</p>
<% else %>
  <p>Limit is not yet reached. Keep printing...</p>
<% end %><br>


<h3><strong>Mint Authority Nickname:</strong> <%= @token.user.nickname %></h3>
<h3><strong>Mint Authority Address:</strong> <%= link_to @token.user.wlt_address, account_path(@token.user)%></h3><br>

<div><h3>Current Owner(s):</h3><br>
  <% @owners.each_with_index do |owner, index| %>
    <p>Wallet Nickname: <%= owner.nickname %></p>
    <p>Wallet Address: <%= link_to owner.wlt_address, account_path(owner)%></p>
    <p>Balance: <%= @balances[index]%></p>
  <% end %></div>
