<h2><strong>Token Nickname: </strong><%= @token.nickname %></h2>
<h2>Token Address: <%= @token.tk_address %></h2>
<h2>Is there a mint limit? <%= @token.unlimited %></h2>
<h2>How many can be minted? <%= @token.max_mint %></h2>
<h2>How many have been minted? <%= @token.minted_so_far %></h2><br>

<h2>Mint Authority Nickname: <%= @token.user.nickname %></h2>
<h2>Mint Authority Address: <%= @token.user.wlt_address %></h2><br>

<h2>Balance for: <%= @tk_balance.user.nickname %></h2>
<h2>Token Nickname: <%= @tk_balance.token.nickname %></h2>
<h2>Balance: <%= @tk_balance.tk_amount %></h2>
