<div style="color:white">
 <h1> Account for: <%= @user.nickname %> @ Wallet: <%= @user.wlt_address %></h1>
 <div>
    <h2>Balances</h2><br>
    <% @user_balances.each do |balance| %>
      <p>Token: <%= balance.token.nickname %> ------ Balance: <%= balance.tk_amount %>
       ------ Token Address: <%= link_to balance.token.tk_address, token_path(balance.token)%></p>
    <% end %>
  </div><br>
  <h2>Transactions</h2><br>
    <div>
      <% @user_from_transactions.each do |transaction| %>
        <h3>Transaction id: <%= transaction.id %></h3>
        <p>Transaction Amount: <%= transaction.tk_amount %> <%= transaction.token.nickname %></p>
        <p>From: <%= transaction.from_user.nickname %> @ <%= link_to transaction.from_user.wlt_address, account_path(transaction.from_user)%></p>
        <p>To: <%= transaction.to_user.nickname %> @ <%= link_to transaction.to_user.wlt_address, account_path(transaction.to_user)%></p>
      <% end %>
    </div>
      <% @user_to_transactions.each do |transaction| %>
        <p>----- Transaction ID: <%= transaction.id %>
        ----- Transaction Amount: <%= transaction.tk_amount %> <%= transaction.token.nickname %> -----
        <p>From: <%= transaction.from_user.nickname %> @ <%= link_to transaction.from_user.wlt_address, account_path(transaction.from_user)%></p>
        <p>To: <%= transaction.to_user.nickname %> @ <%= link_to transaction.to_user.wlt_address, account_path(transaction.to_user)%></p>
      <% end %>
    </div>
</div>
