<%= render "shared/banner" %>
<%= render "shared/banner_show" %><div id="pale-blue-how"></div>
<%= render "shared/banner1_home" %>
<%= render "shared/banner2_home" %>
<%= render "shared/banner3_home" %>
