<div class="bg-img"></div>
  <div class="apply-container">
    <div class="heading-container text-center p-3"  style="background-color: rgba(0,0,0, 0.65);">
      <h1>Apply to be a Creator:</h1>
    </div>
  <div class="application d-flex justify-content-center">
    <div class="col-6 apply p-3">
    <h3><strong>What problems face your community that you want to solve?</strong></h3><br>
    <h5> Write up to three:</h5>
      <%= simple_form_for @creator do |f| %>
        <%= f.input :q1, as: :text, required: true, label: 'Answer 1' %>
        <%= f.input :q2, as: :text, required: false, label: 'Answer 2' %>
        <%= f.input :q3, as: :text, required: false, label: 'Answer 3' %>
      <div class='d-flex' style='justify-content: space-between;'>
        <%= f.button :submit, 'Apply', class: 'btn btn-ghost'%>
      </div>
      <% end %>
    </div>
  </div>
</div>
