<div class="container">
  <div class="row creator-container">
    <div class="creator-card">
      <div class="col-8">
        <div id="creator-top-left">
          <div id="creator-photo-description">
            <div>
              <% if @creator.photo.key  %>
                <img id='creator-photo' src= <%= cl_image_path @creator.photo.key %>>
              <% end %>
            </div>
            <div>
              <h1 id='title'><%= @creator.title %></h1>
              <p class='font-16'>Creator Since: <%= @creator.created_at.to_date %></p>
            </div>
          </div>
          <div id='about-part'>
            <h2>About me:</h2>
            <p id='about-text'><%= @creator.about %></p>
          </div>
        </div>
      </div>
      <div class="col-4 ">
        <div id='btn-create'>
          <%= link_to "Donate", new_creator_transaction_path(@creator), class: 'btn-ghost'%>
        </div>
        <div class='links-display'>
          <a href=<%= @creator.instagram %>><i class="fab fa-instagram fa-lg text-light"></i></a>
          <a href=<%= @creator.facebook %>><i class="fab fa-facebook fa-lg text-light"></i></a>
          <a href=<%= @creator.twitter %>><i class="fab fa-twitter fa-lg text-light"></i></a>
          <a href=<%= @creator.linkedin %>><i class="fab fa-linkedin fa-lg text-light"></i></a>
        </div>
        <div id='local-web'>
          <p id='location'><i class="fa-solid fa-location-pin fa-lg text-light"></i>  <%= @creator.location %></p>
          <a id='website' href=<%= @creator.website %>><p><%= @creator.website %></p></a>
        </div>
      </div>
    </div>
    <div class='creator-bottom-left' data-aos="fade-right">
      <h3>Tags</h3> 
      <p class='font-16'>#<%= @creator.tag1 %></p>
      <p class='font-16'>#<%= @creator.tag2 %></p>
      <p class='font-16'>#<%= @creator.tag3 %></p>
    </div>
    <div class='creator-bottom-right' data-aos="fade-left">
      <div id='creator-between-right'>
        <h2>Creator Files</h2>
        <% @nfts.each do |files| %>
          <%= files.name %>
          <% if files.photos[0].key  %>
            <% files.photos.each do |file|   %>
              <img style='box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);' src= <%= cl_image_path file.key %>>
              <% end %>
          <% end %>
        <% end %>
      </div>
      <div>
        <h2>Creator Raffles</h2>
        <% @raffles.each do |raffle| %>
          <p class='font-16'><%= link_to raffle.name, raffle_path %></p>
          <% if raffle.token.photo.key  %>
            <img style='box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);' src= <%= cl_image_path raffle.token.photo.key %>>
          <% end  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
