<div class="container">
  <div class="row creator-container">
    <div class="creator-card">
      <div class="col-8">
        <div id="creator-top-left">
          <div id="creator-photo-description">
            <div>
              <% if @creator.photo.key  %>
                <img id='creator-photo' src= <%= cl_image_path @creator.photo.key %>>
              <% end %>
            </div>
            <div>
              <h1 id='title'><%= @creator.title %></h1>
              <p class='font-16'>Creator Since: <%= @creator.created_at.to_date %></p>
            </div>
          </div>
          <div id='about-part'>
            <h2>About me:</h2>
            <p id='about-text'><%= @creator.about %></p>
          </div>
        </div>
      </div>
      <div class="col-4 ">
        <div id='btn-create'>
          <%= link_to "Donate", new_creator_transaction_path(@creator), class: 'btn-ghost'%>
        </div>
        <div class='links-display'>
          <a href=<%= @creator.instagram %>><i class="fab fa-instagram fa-lg text-light"></i></a>
          <a href=<%= @creator.facebook %>><i class="fab fa-facebook fa-lg text-light"></i></a>
          <a href=<%= @creator.twitter %>><i class="fab fa-twitter fa-lg text-light"></i></a>
          <a href=<%= @creator.linkedin %>><i class="fab fa-linkedin fa-lg text-light"></i></a>
        </div>
        <div id='local-web'>
          <p class='location'><i class="fa-solid fa-location-pin fa-lg text-light"></i>  <%= @creator.location %></p>
          <a id='website' href=<%= @creator.website %>><p><%= @creator.website %></p></a>
          <h3 class='location'>Tags</h3>
          <p class='font-16 location'>#<%= @creator.tag1 %></p>
          <p class='font-16 location'>#<%= @creator.tag2 %></p>
          <p class='font-16 location'>#<%= @creator.tag3 %></p>
        </div>
      </div>
    </div>

    <div id='creator-bottom-files' data-aos="fade-left">
      <h2>Creator Files</h2>
      <% @nfts.each do |files| %>
        <div class='file-raffle-card'>
          <p class='font-16'><%= files.name %></p>
          <hr>
          <% if files.photos[0].key  %>
            <% files.photos.each do |file| %>
              <img src= <%= cl_image_path file.key %>>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div id='creator-bottom-raffles' data-aos="fade-right">
      <h2>Creator Raffles</h2>
      <div class='scrollmenu'>
        <% @raffles.each do |raffle| %>
          <div class='file-raffle-card'>
            <p class='font-16'><%= link_to raffle.name, raffle_path %></p>
            <hr>
            <% if raffle.token.photo.key  %>
              <img src= <%= cl_image_path raffle.token.photo.key %>>
            <% end  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
