<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3 form">
      <div class='p-3'>
        <h2>Connect Wallet</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-inputs">
            <%= f.input :wlt_address, label: 'Wallet Address',
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "wallet address" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions d-flex justify-content-center p-3">
            <%= f.button :submit, "Connect Wallet", class: 'btn btn-ghost' %>
          </div>
          <div class="d-flex justify-content-center p-3">
          <%= render "devise/shared/links" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
