<div style="color:white">
<div><h2><strong>Transactions</strong></h2><br>
  <% @transactions.each do |transaction| %>
        <p>-- Transaction ID: <%= transaction.id %>
        --  Amount: <%= transaction.tk_amount %>  --  Token: <%= transaction.token.nickname %></p>
        <p>Sender: <%= transaction.from_user.nickname %> --> To:
        <%= transaction.to_user.nickname %></p>
        <p>Addresses: <%= link_to transaction.from_user.wlt_address, account_path(transaction.from_user)%>  --> <%= link_to transaction.to_user.wlt_address, account_path(transaction.to_user)%></p>
      <hr>
      <% end %>
  </div><br>
</div>
