<div class="d-flex" style="color:white">
<div><h2>Transactions</h2><br>
  <% @transactions.each do |transaction| %>
    <h3>Transaction Amount: <%= transaction.tk_amount %></h3>
    <p>Transacted Token: <%= transaction.token.nickname %></p>
    <p>From: <%= transaction.from_user.nickname %></p>
    <p>To: <%= transaction.to_user.nickname %></p>
  <% end %></div>


  <div>
  <h2>Balances</h2><br>
  <% @balances.each do |balance| %>
    <h4>Owner: <%= balance.user.nickname %></h4>
    <p>Token: <%= balance.token.nickname %></p>
    <p>Balance: <%= balance.tk_amount %></p>

  <% end %></div>
  </div>
</div>
