<div class="transaction-container">
  <div>
    <h1>Donation Details</h1>
    <p>Transaction id: <%= @transaction.id %></p>
    <p>Sender: <%= @transaction.from_user.nickname %></p>
    <p>Sender Address: <%= link_to @transaction.from_user.wlt_address, account_path(@transaction.from_user)%></p>
    <p>Donation to: <%= @transaction.to_user.nickname %></p>
    <p>Donation Address: <%= link_to @transaction.to_user.wlt_address, account_path(@transaction.to_user)%></p>
    <p>Amount: <%= @transaction.tk_amount %> <%= @transaction.token.nickname %></p>
    <p>Token Address: <%= link_to @transaction.token.tk_address, token_path(@transaction.token)%></p>
  </div>
</div>
